#white{
	-fx-background-color: #383838;
	-fx-fill: rgb(255.0,255.0,255.0);
	-fx-font-style: italic;
	-fx-font-size: 26.0px;
} 
.bottom{
	-fx-background-color: green;
}
#textbox{
	-fx-border-color:  red;
} 
#cardpane{
	-fx-background-image: url("Table.jpg");
    -fx-background-repeat: stretch;      
     -fx-background-position: center center; 
    
 }
#Loading{
	-fx-background-image: url("Loading.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
}
#warlock{
	-fx-background-image: url("Warlock.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center; 
}
#priest{
	-fx-background-image: url("Priest.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center; 
}
#mage{
		-fx-background-image: url("Mage.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center; 
}
#hunter{
		-fx-background-image: url("Hunter.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center; 
}
#paladin{
		-fx-background-image: url("Paladin.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center; 
}